/* homepage.css */

/* Body styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Style for the transparent navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent black background */
    z-index: 1000; /* Ensure the navbar appears above other content */
    transition: background-color 0.3s ease; /* Add transition effect for smooth color change */
}

/* Style for the navbar links */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 20px 30px; /* Add padding to the links */
    color: #FFF; /* White text color */
    text-decoration: none;
    transition: color 0.3s ease; /* Add transition effect for smooth color change */
}

nav ul li a:hover {
    color: #FFD700; /* Change text color on hover */
}

/* Style for the dropdown button */
.dropdown-button {
    display: none; /* Hide the dropdown button by default */
}

/* Style for the navbar when scrolled */
header.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Darker semi-transparent black background when scrolled */
}


/* Landing page container */
#landing-page {
    width: 100vw; /* Cover entire viewport width */
    height: 100vh; /* Cover entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add position relative */
    margin-bottom: 50px; /* Add bottom margin for space */
}

.emphasis {
    font-style: italic; /* Apply italic style to the text */
    text-decoration: underline; /* Add an underline to the text */
}

/* Background image */
#background-img {
    position: absolute; /* Position absolutely relative to the landing page container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire container without stretching or cropping */
    z-index: -1;
    filter: grayscale(0.5); /* Apply grayscale effect */
}

/* Welcome info */
#welcome-info {
    position: absolute;
    top: 50%;
    left: 40%; /* Adjust left position for centering */
    transform: translate(-50%, -50%);
    text-align: left; /* Align text to the left */
    color: white;
    z-index: 1;
}

#welcome-info h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Change font family */
    font-weight: bold; /* Add font weight */
    color: #FFD700; /* Golden yellow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

#welcome-info p {
    font-size: 1.5rem;
    line-height: 1.6; /* Adjust line height for better readability */
    font-family: 'Arial', sans-serif; /* Change font family */
    color: #CCCCCC; /* Light gray */
}

/* Custom cursor styles */
.custom-cursor {
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFFFFF; /* White */
    border: 2px solid #CCCCCC; /* Light gray */
    pointer-events: none;
    z-index: 9999;
}

.cursor-trail {
    position: fixed;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Light gray with 50% opacity */
    pointer-events: none;
    z-index: 9998;
}

.custom-cursor.hover {
    transform: scale(1.5); /* Adjust scale for hover effect */
    background-color: rgb(99, 99, 102); /* Adjust background color on hover */
}

/* For screens between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    #background-img {
        height: auto; /* Allow the image to resize proportionally */
        background-position: 20% center !important; /* Adjust background position */
    }

    #welcome-info {
        width: 70%; /* Adjust width for tablets */
        left: 50%; /* Center the text horizontally */
        transform: translateX(-50%) translateY(-50%);
    }

    #welcome-info h1 {
        font-size: 3rem; /* Restore font size for tablets */
        margin-bottom: 20px; /* Restore margin */
    }

    #welcome-info p {
        font-size: 1.5rem; /* Restore font size for tablets */
    }
}

/* For iPad Air (specifically) */
@media (min-width: 820px) and (max-width: 1180px) {
    #background-img {
        height: 100vh; /* Set the background image height to cover the entire viewport */
        background-position: left center; /* Adjust background position */
    }

    #welcome-info {
        width: 70%; /* Adjust width for iPad Air */
        left: 50%; /* Center the text horizontally */
        transform: translateX(-50%) translateY(-50%);
    }

    #welcome-info h1 {
        font-size: 4rem; /* Increase font size for iPad Air */
        margin-bottom: 25px; /* Increase margin for iPad Air */
    }

    #welcome-info p {
        font-size: 1.8rem; /* Increase font size for iPad Air */
    }
}






/* about.css */

/* Container styles */
.container {
    max-width: 800px; /* Set maximum width for content */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add padding to the sides */
}

/* About Me section */
#about {
    padding: 50px 0; /* Add top and bottom padding */
}

#about h2 {
    font-size: 2.5rem; /* Set font size for heading */
    margin-bottom: 30px; /* Add bottom margin */
    color: #333; /* Dark gray color */
}

#about p {
    font-size: 1.2rem; /* Set font size for paragraph */
    line-height: 1.6; /* Set line height */
    color: #666; /* Medium gray color */
    margin-bottom: 20px; /* Add bottom margin */
    text-align: justify; /* Justify text alignment */
    }    

/* Image gallery */
.image-gallery {
    display: flex; /* Arrange images in a row */
    justify-content: space-between; /* Space images evenly */
    margin-bottom: 30px; /* Add bottom margin */
    flex-wrap: wrap; 
}

#about p::first-letter {
    font-size: 1.8rem; /* Increase font size for first letter */
    font-weight: bold; /* Add bold weight */
    color: #FF5733; /* Custom color for first letter */
    margin-right: 4px; /* Add right margin for spacing */
    float: left; /* Float the first letter to the left */
    line-height: 1; /* Set line height to 1 to avoid extra space */
    }

.gallery-image {
    max-width: calc(33.33% - 5px); /* Set maximum width for each image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    cursor: pointer; /* Change cursor to pointer */
    transition: transform 0.3s ease; /* Add transition effect */
    position: relative; /* Set position to relative for hover effect */
    margin-bottom: 20px; /* Add bottom margin */
}

@media (max-width: 768px) {
    .gallery-image {
        max-width: calc(50% - 20px); /* Set maximum width for each image on smaller screens */
    }
}

@media (max-width: 480px) {
    .gallery-image {
        max-width: calc(100% - 20px); /* Set maximum width for each image on even smaller screens */
    }
}

/* Adjust spacing between images */
.gallery-image:not(:last-child) {
    margin-right: -20px; /* Add negative margin to overlap images */
}

/* Rotate images slightly */
.gallery-image:nth-child(1) {
    transform: rotate(-2deg) translateY(-5px); /* Rotate and move up slightly */
}

.gallery-image:nth-child(2) {
    transform: rotate(0deg) translateY(-10px); /* Move up slightly */
}

.gallery-image:nth-child(3) {
    transform: rotate(2deg) translateY(-5px); /* Rotate and move up slightly */
}

.gallery-image:hover {
    transform: translateY(-10px) scale(1.1); /* Move image up slightly and scale */
}

/* Cursor line */
.cursor-line {
    position: fixed;
    width: 2px;
    height: 100vh;
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}






/* Styles for Technologies section */
#technologies {
    padding: 50px 0; /* Add top and bottom padding */
}

#technologies h2 {
    font-size: 2.5rem; /* Set font size for heading */
    margin-bottom: 30px; /* Add bottom margin */
    color: #333; /* Dark gray color */
}

/* Styles for each icon container */
.icon-grid {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly along the main axis with equal spacing */
    margin-top: 20px; /* Add top margin */
}

/* Styles for each icon container */
.icon {
    width: calc(25% - 10px); /* Set width for each icon container (4 icons per row) */
    display: flex; /* Use flexbox for icon container */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px; /* Add bottom margin */
}


/* Adjust icon size */
.icon svg {
    width: 48px; /* Set width */
    height: 48px; /* Set height */
    margin-bottom: 10px; /* Add bottom margin */
}

/* Adjust span */
.icon span {
    font-size: 0.9rem; /* Set font size for icon text */
    color: #333; /* Dark gray color */
}









/* Hero section styling */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpg') center/cover no-repeat;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
}

/* Portfolio section styling */
#portfolio {
    padding: 80px 0;
    background-color: #f6f6f6;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.portfolio-item-img img {
    width: 100%;
    height: 200px; /* Adjust height as desired */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.portfolio-item:hover .portfolio-item-img img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.view-project-btn {
    padding: 12px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.view-project-btn:hover {
    background-color: #ff5e7d;
    color: #fff;
}







#contact {
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: box-shadow 0.3s, background-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translateY(0);
    pointer-events: none;
    transition: 0.3s;
    color: #777;
    font-size: 0.9rem;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    transform: translateY(0);
    font-size: 0.8rem;
    color: #333;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

.highlight {
    color: #000000; /* Choose your preferred color */
    font-weight: bold; /* Make the email address bold */
}


/* Footer styles */
footer {
    
    color: #020000;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.fusion {
    position: relative; /* Ensure relative positioning */
}

.overlap {
    position: absolute; /* Position absolutely within the parent */
    top: 0;
    left: 30px; /* Adjust the distance from the left */
    color: #ff5722; /* Your preferred highlight color */
}

.rights {
    margin-left: 32px;
}
