/* Reset some default styles */
:root {
    --white: #fff;
    --black: #000;
    --gray: #f0f0f0;
    --darkgray: #333;
    --hover:#ff6600;
    --tittles: #964b00;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    background-color: #010000c2;
    color: var(--white);
    padding: 20px 12px;
    background-image: url(/assets/images/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
}

header li a {
    text-decoration-line: underline;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color 1.0s;
}

nav a:hover {
    color:var(--hover);
}

main h2 {
    font-size: 30px;
    color: var(--tittles);
    text-align: center; 
    margin: 1px;
    background-image: url(/assets/images/codioful-formerly-gradienta-m_7p45JfXQo-unsplash.jpg);
}



    
section {
    padding: 20px;
}


section h2 {
    font-size: 30px;
    font-weight: bold;
    color:var(--tittles);
    text-align: center; 
    margin-right: 20px;
    margin-left: 20px;
    background-image: url(/assets/images/codioful-formerly-gradienta-bKESVqfxass-unsplash.jpg);
}

h3 {
    font-size: 30px;
    color:var(--black);
    text-align: center; 
    margin: 1px;
}

p {
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 0%;
    color: var(--white);
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
    line-height: 1.5;
    font-family: system-ui;
    font-style: italic;
    text-shadow: 2px 2px 4px #000000;
    background-color: #010000c2;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid var(--white);
    box-shadow: 5px 5px 5px #000000;
    }

 .imgAvatar {
    max-width: 25%;
    float: left;
    border-radius: 50%;
    border: 3px solid var(--white);
    margin-right: 20px;
 }
.imgapp1{
    width: 35%;
    float: left;
    border-radius: 50%;
    border: 3px solid var(--white);
    margin-right: 20px;
    transition: color 1.0s;
    /*transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    trasition:transform: 0.5s;*/
 }

.imgapp1:hover {
    transform:translate(-10px);
    transition: .5s;
}

.imgapp2{
    width: 25%;
    float: right;
    border-radius: 50%;
    border: 3px solid var(--white);
    margin-right: 20px;
    transition: color 1.0s;
    /*transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
    trasition:transform: 0.5s;*/
 }

 footer h4 {
    font-size: 20px;
    color: var(--black);
    text-align: center; 
    margin: 1px;
 }
        
/* Responsive design */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    }